.Python
.DS_Store
*.pyc
.vscode
*.env
*.swp
*.swo
*.swn
*.sqlite3
*.map
!pyodide.js.map
__target__
build
dist
*.egg-info
demo_sketch
tests-sketchbook
venv
docs/examples/dev*
docs/examples/issue*
.theia
.envrc
*.properties.json
.idea/*
