<!DOCTYPE html>

<!-- Template file used to generate the examples using Transcrypt interpreter -->
<html lang="">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ sketch_name }} - pyp5js</title>
    <style> body, html, canvas {padding: 0; margin: 0; overflow: hidden;} </style>

    <script src="{{ p5_js_url }}"></script>
    <script src="{{ pyodide_js_url }}"></script>
    <script src="{{ sketch_js_url }}"  type="module"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <style>
        html {
          overflow-y: scroll;
          overflow-x: scroll;
        }

        .demoContainer {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        pre {
            padding-left: 2em;
        }
    </style>
  </head>

  <body>
    <p style="background-color: #f6f8fa">
      Python code <a href="https://github.com/berinhard/pyp5js/blob/develop/docs/examples/pyodide/{{ sketch_name }}" target="_blank">here</a>.
    </p>

    <div class="demoContainer">
        <div id="sketch-holder" style="">
              <!-- You sketch will go here! -->
        </div>

        <div style="">
          <pre><code>{{ sketch_content }}</code></pre>
        </div>

    </div>
  </body>
</html>
