<!DOCTYPE html>

<!-- pyp5js index.html boilerplate -->
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pyp5js with Pyodide Demo</title>

  <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
  <script src="{{ pyodide_js_url }}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"
    integrity="sha512-GZ1RIgZaSc8rnco/8CXfRdCpDxRCphenIiZ2ztLy3XQfCbQUSCuk8IudvNHxkRA3oUg6q0qejgN/qqyG1duv5Q=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-python.min.js"
    integrity="sha512-2Ke4vMGrMfYRM55pT1aA5bw7Pl82Sc7K5Hg8XZYZu+EQrb0AO1mNYTagwZm+MFVAImYS9Mlnm73zcgc01wPXxA=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/theme-monokai.min.js"
    integrity="sha512-S4i/WUGRs22+8rjUVu4kBjfNuBNp8GVsgcK2lbaFdws4q6TF3Nd00LxqnHhuxS9iVDfNcUh0h6OxFUMP5DBD+g=="
    crossorigin="anonymous"></script>
  <script src="share.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/basscss@7.1.1/css/basscss.min.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <p style="font-family: 'sans'; font-size:18px"><b>pyp5js</b> demo editor</p>

  <div class="demoContainer">
    <div style="display: block">
      <textarea class="display-none" id="id_py_code" name="py_code"></textarea>
      <div class="code-container">
        <div class="text-editor-box">
          <div class="right-buttons">
            <button id="fullScreenBtn" title="See sketch in fullscreen" type="button"
              class="btn btn-primary bg-purple rounded py1 px2 pb3 mr1">
              Fullscreen</button>
            <button id="collapseBtn" title="Collapse the code editor" type="button"
              class="btn btn-primary bg-orange rounded py1 px2 pb3">
              Collapse</button>
          </div>
          <div id="text-editor" class="text-editor"></div>
          <div id="sketch-buttons" class="clearfix">
            <div class="left-buttons">
              <button id="executeBtn" title="(Ctrl/Cmd + Enter) to refresh the skecth" type="button"
                class="btn btn-primary bg-green rounded py1 px2 mb1">Run</button>
              <button id="clearBtn" title="(Ctrl/Cmd + .) to clear the skecth" type="button"
                class="btn btn-primary rounded bg-red py1 px2 mb1">Clear</button>
            </div>
            <button id="shareBtn" class="btn btn-primary rounded py1 px2 mb1" type="button"
              title="Get a shareable link to this sketch">Share</button>
          </div>
        </div>
      </div>
    </div>

    <div id="sketch-holder">
      <!-- You sketch will go here! -->
    </div>
  </div>
  <div>
    <p style="font-family: 'sans'; font-size:14px">If you execute the code but nothing is being rendered in the browser,
      please open your browser's console to read the error traceback (usually you can do this by pressing F12 and
      clicking in the Console tab).</p>
  </div>
  <div>
    <p style="background-color: #f6f8fa; font-family: 'sans'; font-size:14px"><a
        href="https://github.com/berinhard/pyp5js"><b>pyp5js</b></a> running on top of <a
        href="https://github.com/iodide-project/pyodide" target="_blank">pyodide</a></p>
  </div>
</body>
<script src="{{ sketch_js_url }}"></script>
<script src="afterBody.js"></script>

</html>